<h3>spicy collards</h3>
<p>I don't even remember where I got this procedure, but it's so easy and simple, it's hard to fuck up.</p>
<h4>tools</h4>
<ul>
    <li>a big pot</li>
    <li>colander</li>
    <li>large skillet</li>
    <li>cutting board and big knife</li>
    <li>spatula</li>
</ul>
<h4>ingredients</h4>
<ul>
    <li> one big or two small bunches of collard greens</li>
    <li>a couple cloves of garlic</li>
    <li>olive oil</li>
    <li>salt</li>
    <li>crushed red pepper flakes</li>
</ul>
<h4>steps</h4>
<ol>
    <li>Put a pot of water on the stove, add a good bit of salt, and turn on the heat</li>
    <li>Strip the greens off of the stems and discard the stems (into your composting system!)
        <p class="alert alert-success my-2"><strong>TIP</strong>: To strip the leaves from the stem, make
        kind of a hole with the curled index finger and thumb of your non-dominant hand, then with your other hand
            pull the stem through the hole. It takes practice and it isn't perfectly precise, but once you get it, it
        works quite well enough.</p>
    </li>
    <li>Grabbing the greens in your non-dominant hand, make a few parallel slices with a knife in your other
    hand at right angles to the greens. The idea is to cut the leaves into pieces that are substantial but not huge.</li>
    <li>When the water is boiling, put in the greens and cook for 7 minutes.</li>
    <li>Meanwhile, mintz [sic] the garlic</li>
    <li>When the 7 minutes have elapsed, put the greens in a colender to drain.</li>
    <li>Heat some oil in a large skillet, then add the garlic</li>
    <li>When the garlic begins to sizzle, put in the greens. Add some salt and red pepper flakes, and
    stir everything around so that the greens get some oil and seasoning.</li>
    <li>Cook, stirring occasionally, for about 3 minutes or until you think the greens are at
    the desired level of tenderness.</li>
</ol>
