<h3>lentils</h3>
<p>This is easy, and satisfying. Goes well with rice or quinoa and a vegetable like
roasted broccoli or cabbage. As beans go, lentils are small and therefore cook relatively fast.
    This recipe might take around 45 minutes, end to end.</p>
<h4>tools</h4>
<ul>
    <li>a large pot</li>
    <li>big knife, cutting board</li>
    <li>can opener</li>
    <!-- <li>vegetable peeler</li> -->

</ul>
<h4>ingredients</h4>
<ul>
    <li>one to two pounds of lentils</li>
    <li>a couple cloves of garlic</li>
    <li>olive oil</li>
    <li>a couple of carrots</li>
    <li>one large or two not-so-large onions</li>
    <li>(optional) stick of celery</li>
    <li>(optional) a handful of fresh parsley</li>
    <li>spices:  cumin, pepper, salt, maybe a dash of cayenne, etc.</li>
</ul>
<h4>steps</h4>
<ul>
    <li>Chop up the carrots and onions (and celery if you're using it)</li>
    <li>Mintz [sic] the garlic</li>
    <li>Heat some olive oil in the pot, then add the garlic</li>
    <li>When the garlic has begun to sizzle, add the chopped vegetables and stir</li>
    <li>Cook all this at medium-high heat, stirring occasionally, until it softens</li>
    <li>Put the lentils in the pot and add cold water to cover the lentils, plus a couple inches</li>
    <li>Add salt, pepper, parsley if you're using it, and some spices like cumin, curry powder,
        maybe a little smoked paprika. Go  easy on the quantities; you can taste and adjust later.</li>
    <li>Bring it to a boil and then reduce the heat so that it's simmering, and cover.</li>
    <li>Check it periodically and adjust seasonings to taste. If the lentils are getting too dry, add
    some water &mdash; which you can heat in a kettle so that the cold water doesn't slow down your
    cooking process. When the mixture has a consistency and flavor that you like, it's done.</li>

</ul>
