<h3>pasta bolognese</h3>
<p>There are many variations on bolognese sauce recipes,
some taking up to five hours. Some call for a combination of veal, pork and beef.
    This one is comparatively quick-and-dirty, i.e., simple and easy, and
very gratifying. Feeds three or more people; just cook more pasta if you have more people.
    PS: This goes nicely with <a href="/food/collards">spicy collards</a>.
</p>
<h4>tools</h4>
<ul>
    <li>cutting board, big knife</li>
    <li>two large pots, big spoon</li>
    <li>can opener</li>
    <li>a colander</li>
</ul>
<h4>ingredients</h4>
<ul>
    <li>one 28 oz can of crushed tomatoes</li>
    <li>two or three cloves of garlic</li>
    <li>some tomato paste (about 2 heaping tablespoons)</li>
    <li>(optional) parsley, and small handful finely chopped</li>
    <li>(optional) chunk of parmesan cheese rind</li>
    <li>salt and pepper</li>
    <li>olive oil</li>
    <li>(optional, but highly desirable) about 1 cup red wine</li>
    <li>one pound ground beef</li>
    <li>a medium-sized onion</li>
    <li>one or two carrots</li>
    <li>(optional) a stick of celery</li>
    <li>Grated parmesan cheese (technically optional, but I think it's essential)</li>
    <li>A pound of linguini or other pasta</li>
</ul>
<h4>steps</h4>
<ol>
    <li>Chop up the carrots, onion and celery if you're usng it (with a food processor if you have one.
        I like to chop these vegetables up pretty fine so they just about dissolve into the sauce,
        but if you want them a little more coarse, feel free).
    <p class="alert alert-success my-2">
        TIP: When you chop an onion by hand, start by slicing it in half. With each half, make several parallel
        slices while holding it together with your other hand, kind of like slicing up a loaf of bread.
        Then rotate 90 degrees and do it again. Now a lot of your chopping is already done, so your eyes won't
        be exposed to irritation any longer than they have to be.
    </p></li>
    <li>Mintz [sic] the garlic.</li>
    <li>Heat some oil in the pot (medium high), then add the garlic and cook till it sizzles.</li>
    <li>Add the carrots and onions and cook, stirring occasionally, until the vegetables get soft.</li>
    <li>Add the meat, breaking it up into bits, and brown it, stirring almost continuously.</li>
    <li>Add the tomatoes and the tomato paste (and the wine, parsley, and cheese rind if you have any of these). Add a good pinch of
    salt and grind in some pepper, and stir it all up.
    <p class="alert alert-success my-2">TIP: If you have a little can of tomato paste, open both ends with a can opener
    but don't remove the metal lid from one end. From that end, push all the paste out through the can, using an
        appropriate-sized utensil, onto a plate or cutting board. Use what you need, and freeze the rest in a plastic bag
    for later use. You can cut chunks off of the frozen tomato paste.</p>
    </li>
    <li>Cook it covered on low heat and keep it bubbling gently for about 60 to 90 minutes, or longer. When you think
        it's ready, it's ready. Taste periodically and adjust as you see fit (e.g., add salt, or pepper, or another
        shot of wine).</li>
    <li>Cook to the desired consistency a pound of whatever pasta you like.
    <p class="alert alert-success my-2">TIP: The sauce benefits from sitting around, the pasta not so much. So it's better
    to time it so that the sauce waits for the pasta rather than vice-versa.</p>
    </li>
</ol>
