<h3>potato, cabbage and cannellini bean soup</h3>
<p>Another informal recipe, this is perhaps more of a stew than a soup. If you like more or less of something,
    use more or less of something. The important thing is to make sure you don't exceed the capacity of your pot.
    I like to use my cast iron Dutch oven for this. Great with some parmesan sprinkled on top (yes, it is!) and
served with some good bread (if you can manage to find some   😉)</p>
<h4>ingredients</h4>
<ul>
    <li>about six yukon gold potatoes (medium to smallish)</li>
    <li>about 3/4 of a green cabbage</li>
    <li>two or three carrots</li>
    <li>a few cloves of garlic, mintzed [sic]</li>
    <li>a medium onion</li>
    <li>olive oil</li>
    <li>2 cups vegetable or chicken stock (or water)</li>
    <li>1 cup dry white wine (or more liquid)</li>
    <li>2 cans of cannellini beans (15 oz), drained</li>
    <li> (optional) a handful of parsley, pretty finely chopped</li>
    <li>(optional) parmesan</li>
    <li>salt and pepper</li>

</ul>
<h4>steps</h4>
<ol>
    <li>peel the potatoes and cut up into chunks</li>
    <li>peel and slice the onion, then cut the slices once or twice so you end up
    with a coarsely chopped onion. heat some olive oil on medium heat in a pretty large pot,  then
        add the onion. cook till it's begun to soften</li>
    <li>meanwhile, slice the carrots diagonally</li>
    <li>add the garlic to the onion, stir it in and cook for another minute or two</li>
    <li>add the carrots and stir them around to get them coated with some oil, and cook for a couple
        more minutes</li>
    <li>add the stock, potatoes, parsley, wine, and some salt and pepper. stir it up and bring it to a simmer,
    then cover and cook until the potatoes begin to yield to a fork -- maybe 10 or 15 minutes</li>
    <li>meanwhile, slice the cabbage and then chop the slices once or twice, similar to what we did with the onion,
        so you end up with a coarse texture</li>
    <li>when the potatoes have begun to soften, add the cabbage. cover and cook on low heat until the cabbage softens
    to the texture you like. you can stir once in a while and check to make sure the mixture isn't too dry. if it is,
        add a little water</li>
    <li>when the cabbage is just about the way you like it, add the beans and continue cooking a bit longer so the
        beans heat up and the flavors blend</li>
</ol>
<hr>
