{% extends 'base.html.twig' %}
{% block title %} housesitting notes | {{ parent() }}{% endblock %}
{% block body %}
    <h1 class="text-center my-3">housesitting notes</h1>
    <p>The following detailed notes are for anyone housesitting for Amy and David. Politeness markers like <em>please</em> should be understood; they are usually omitted for brevity.</p>
    <h3 id="cat-food">cat food and water</h3>
    <p>Make sure they always have plenty of fresh b-water (short for <em>billionaire water</em>; I'll explain later) in the ceramic bowl on the kitchen floor.</p>
    <h4 id="black-cat-feeding">black cats</h4>
    <p>Daphne and Walter eat one fuckton of canned kitten food per day &mdash; please measure precisely. They use the small stainless steel bowls on the
        counter surface to the right of the microwave, where Maggie can't get at the food.</p>
    <p>In the morning, Walter gets a packet of the Fortiflora stuff on his food. The packets are on the kitchen
    counter in a little box. He eats from the bowl on the right (from the cats' point of view).</p>
    <p>Their bowls and the tray underneath get nasty, and bh\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\9****************************************************************************************************************************************************ould be thoroughly cleaned every day.
    You can tell the fucking cats had a hand in the drafting of the preceding sentence. Who am I to override their editorial
        judgment?
    </p>
    <h4 id="kiki-feeding">Kiki</h4>
    <p>Kiki eats the 5.5-ounce cans. She dines in the shed. Her bowl should be cleaned once in a while, and her water replenished daily.</p>

    <h3 id="cat-boxes">cat boxes</h3>
    <p>The cat boxes should be cleaned daily. One is located upstairs; one in the small bedroom; one in the shed. All have scoopers nearby.
        Bags are kept by the one upstairs.</p>

    <h3>dog feeding</h3>

    <p>Maggie eats once a day in the evening:  a couple of scoops of dry food mixed with a can of wet food (left of the sink).
        Maggie's dry food is in the metal container/little garbage can in the living room.
        She also likes to lick cat
        food off the small spatulas we use to get the kitten food into the bowls.</p>
    <p>Rinse the empty cat and dog food cans, and put them in the recycle bin under the sink.</p>
    <h3>dog walking</h3>
    <p>Maggie needs a chance to pee and poop in the morning. You can take her for a short loop if you're in a hurry and she
        will usually shit when she realizes she is heading homeward. Poop bags are in a container attached to the leash. We
        toss the bags of shit on the ground on the left side of the shed, and collect them for disposal on garbage day.
    </p><p>
        Try to give her a substantial walk once a day -- 30 or 45 minutes,
        more if you can manage it. She likes to meander. And she usually takes a second shit in the afternoon.
        Note that she particularly likes the Shell station up New York Ave where she gets a treat.</p>
    <p>She likes it if you throw a tennis ball around in the back yard; I usually do this with her every day. If you like,
        you can also take her to East Chop beach and let her fly around off-leash.</p>
    <p>At bed time, take her out briefly for a final pee.</p>
    <p>When coming in from wet weather, you can dry off her feet with one of the <em>dog towels</em> (so we call them)
        under the little light-blue table in the living room.</p>
    <p>Please <strong>give her a thorough, full-body tick check</strong> at least once a day, preferably right after a walk. There are
        good tick removal tools in the little orange pot on the counter behind the couch. If you
    tell her "on the couch!" and then "tick check!", she will go belly up and make it easy to inspect her four feet.
        She thinks it's a massage.</p>
    <h3>garbage, recycling, compost</h3>
    <p>There's a recycle bin under the sink, and if it fills up, you can empty it into the gray bins on the deck.
        Garbage is collected on Wednesday mornings, so we put it out the Tuesday evening preceding, with a green sticker (see frig)
        conspicuously attached to the topmost bag in the garbage can.
    </p>
    <p>Compostables go in the little bin to the left of the kitchen sink. When it fills up, you can dump it in the large black
    plastic bin behind the shed. You'll want a spatula for scraping shit out of the little bin into the large one, but aside from
        that the little bin cleans easily.</p>
    <h3>quirks and miscellany</h3>
    <ul>
        <li>The gate latches are fucked up. You have to close them explicitly rather than just swing the gate.</li>
        <li>Maggie should freestyle unsupervised in the back yard only during daylight hours. At dusk and at night there is a risk of
            her getting sprayed by a skunk.
        </li>
        <li>There's a <em>very</em> slow leak under the sink in the bathroom in the house. It will probably be fine, but it would not
            hurt to check the container under the sink to make sure it does not need to be emptied.</li>
        <li>Walter and Daphne are indoor cats; Kiki goes pretty much where she pleases when she pleases.
            Check on her from time to time, and if she wants to, let her go out of the shed if she's in, and vice-versa. In foul or cold
            weather I encourage her to sleep indoors. In mild weather it's up to her.</li>
        <li>Maggie likes to sleep with humans. Sleeping in the shed with both Maggie and Kiki is fine;
            just make sure Kiki is inside the shed before Maggie enters, at which point Kiki will go under the bed and be fine.</li>
        <li>Any of the multiple possible sleeping configurations is fine, as long as the black cats and Maggie are indoors overnight.
            Sleeping with just Kiki in the shed is a great pleasure, once you have established a rapport with her. But so is
        sleeping with Maggie and letting Kiki stay in her nest under the bed.</li>
        <li>If you want to use the washer-dryer, by all means do! The laundry pods are in jars on the shelf above the machine. The controls
        are <em>sort of</em> self-explanatory, but if you need help, please text us any questions or consult the owner's manual (on the shelf... somewhere). The
            machine both washes and dries. You have to explicitly select a dryer setting -- it won't dry by default.  It takes a long
            time, not good if you're in a hurry. It works great when you load it with items of similar
            texture and weight, and don't overfill it. (I know:  it requires patience, thinking, planning, and is very un-American.)
           </li>
        <li>Help yourself to anything edible or drinkable that you fancy.</li>
        <li>Parking:  you can park crosswise at the head of the driveway. If need be, you can park an additional car on the left
        side of the road (as you come in from New York Ave) with two wheels well into the leaves so as not to block the road.
        If you <em>really</em> want more parking, you can completely open the gate and back the van into the backyard,
            close the gate, and back up the Nissan to create another space. Keys to our cars will be hanging off the bannister near the front door.
        </li>
        <li>Wifi:  we'll leave a note about that on the kitchen counter.</li>
        <li>The outdoor shower has been turned on, so please feel free.</li>
        <li>You can do whatever makes you comfortable, but as fans of the <a target="_blank" href="https://en.wikipedia.org/wiki/Dark-sky_movement">dark sky movement,</a> we don't leave outdoor
            lighting on overnight.</li>
    </ul>
    <div class="text-center"><a href="/">[home]</a> </div>
{% endblock %}
