{% extends 'base.html.twig' %}
{% block title %} housesitting notes | {{ parent() }}{% endblock %}
{% block body %}
    <h1 class="text-center">housesitting notes</h1>
    <p>The following detailed notes are for anyone housesitting for Amy and David. Politeness markers like <em>please</em> should be understood; they are usually omitted for brevity.</p>
    <h3 id="cat-food">cat food and water</h3>
    <p>Make sure they always have plenty of fresh b-water (short for <em>billionaire water</em>; I'll explain later) in the ceramic bowl on the kitchen floor.</p>
    <h4 id="black-cat-feeding">black cats</h4>
    <p>Daphne and Walter eat one fuckton of canned kitten food per day &mdash; please measure precisely. They use the small stainless steel bowls on the counter
        surface to the right of the kitchen, where Maggie can't get at the food.</p>
    <p>Their bowls and the tray underneath get nasty, and bh\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\9****************************************************************************************************************************************************ould be thoroughly cleaned every day.
    You can tell the fucking cats had a hand in the drafting of the preceding sentence. Who am I to override their editorial
        judgment?
    </p>
    <h4 id="kiki-feeding">Kiki</h4>
    <p>Kiki eats the 5.5-ounce cans. She dines in the shed. Her bowl should be cleaned once in a while, and her water replenished daily.</p>

    <h3 id="cat-boxes">cat boxes</h3>
    <p>The cat boxes should be cleaned daily. One is located upstairs; one in the small bedroom; one in the shed. All have scoopers nearby.
        Bags are kept by the one upstairs.</p>

    <h3>dog feeding</h3>

    <p>Maggie eats once a day in the evening:  a couple of scoops of dry food mixed with a can of wet food (left of the sink). She also likes to lick cat food of the small spatulas we use to get the kitten food into the bowls.</p>
    <p>Rinse the empty cat and dog food cans, and put them in the recycle bin under the sink.</p>
    <h3>dog walking</h3>
    <p>Maggie needs a chance to pee and poop in the morning. You can take her for a short loop if you're in a hurry and she
        will usually shit when she realizes she is heading homeward. Poop bags are in a container attached to the leash. We
        toss the bags of shit on the ground on the left side of the shed, and collect them for disposal on garbage day.
    </p><p>
        Try to give her a substantial walk once a day -- 30 or 45 minutes,
        more if you can manage it. She likes to meander. And she usually takes a second shit in the afternoon.
        Note that she particularly likes the Shell station up New York Ave where she gets a treat.</p>
    <p>She likes it if you throw a tennis ball around in the back yard; I usually do this with her every day. If you like,
        you can also take her to East Chop beach and let her fly around off-leash.</p>
    <p>At bed time, take her out briefly for a final pee.</p>
    <p>Please <strong>check her thoroughly for ticks</strong> at least once a day and preferably right after a walk. There are
        good tick removal tools in the little orange pot on the counter behind the couch. If you
    tell her "on the couch!" and then "tick check!", she will go belly up to make it easy to inspect her four feet.
        She thinks it's a full-body massage.</p>
    <h3>garbage and recycling</h3>
    <p>There's a recycle bin under the sink, and if it fills up, you can empty it into the gray bins on the deck.
        Garbage is collected on Wednesday mornings, so we put it out the Tuesday evening preceding, with a green sticker (see frig)
        conspicuously attached to the topmost bag in the garbage can.
    </p>
    <h3>quirks and miscellany</h3>
    <ul>
        <li>The gate latches are fucked up. You have to close them explicitly rather than just swing the gate.</li>
        <li>Maggie should freestyle unsupervised in the back yard only during daylight hours. At dusk and at night there is a risk of
            her getting sprayed by a skunk.
        </li>
        <li>There's a <em>very</em> slow leak under the sink in the bathroom in the house. It will probably be fine but it would not
            hurt to check the container under the sink to make sure it does not need to be emptied.</li>
        <li>Walter and Daphne are indoor cats; Kiki goes pretty much where she pleases when she pleases.
            Check on her from time to time, and if she wants to, let her go out of the shed if she's in, and vice-versa. In foul or cold
            weather I encourage her to sleep indoors. In mild weather it's up to her.</li>
        <li>Maggie likes to sleep with humans. If you'd like to sleep in the shed with both Maggie and Kiki, this is fine, but make sure Kiki
        is inside the shed before Maggie enters, at which point Kiki will go under the bed and be fine.</li>
        <li>Any of the multiple possible sleeping configurations is fine, as long as the black cats and Maggie are indoors overnight.
            Sleeping with just Kiki in the shed is a great pleasure, once you have established a rapport with her. But so is
        sleeping with Maggie and letting Kiki stay in her nest under the bed.</li>
    </ul>


{% endblock %}
