{% extends 'base.html.twig' %}
{% block title %}letter to the SDNY Interpreters | {{ parent() }}{% endblock %}
{% block body %}
<main>
<p>September 2023</p>

<p>My dear friends:</p>
<p>
You won't believe how long I have been procrastinating about writing this epistle. Or perhaps you will. Recognizing that in the over two years since
    I departed the SDNY I have not even sent a postcard your way, I considered sending a postcard with some witty reference to postcard-sending,
    and actually went a local tourist trap to ponder its assortment of cards. But I realized immediately that the available writing surface was far
    too small for my verbosity. No. This would have to be a letter, a proper letter written the old-fashioned way: composed with a word processor,
    printed and mailed via the USPS. But then, during that mental, precompositional phase, I began to want to add hyperlinks, images and such, and
    began to think a digital format would be necessary. Yet I remained attached to the idea of paper. What to do? Email a PDF for you to print? No.
    Ridiculously grandiose though it may be, I've decided there have to be both digital and print versions.
    Presumably you are now <span class="print-only"> holding in your hands the print version</span> <span class="screen-only">viewing the online version</span>.
</p><p>
Pretentious? <em>Moi?</em>
</p><p>
First and foremost: Hello! <em>Um grande abraço</em> to you all. (Yeah, Portuguese. More on that later.)  To those of you who are relatively new to the staff, a belated but warm welcome. I hope you’re enjoying your employment in the SDNY Interpreters Office, and if you’re not, I hope you’re tolerating it well enough. And you veterans:  I have definitely not forgotten you or the good years we spent together. Neither has my subconscious. Dreams about the SDNY are a recurring phenomenon. Which I suppose is to be expected. When you work in a place for 25+ years and then stop abruptly, there must be extensive psychological post-processing, even though my (conscious) attitude towards the job and my retirement therefrom is extremely simple:  I enjoyed the job and was grateful for it, and I am very happy that it’s over.
</p><p>
So let’s talk about this retirement experience. When I describe the positive aspects of it, please understand that is not my intention to gloat about my good fortune. I hate it when people do that. Rather, I am hoping to share with you some of the types of pleasures and rewards that I fervently hope you have coming to you. When I describe some of the less enjoyable circumstances of my life, it’s not to elicit sympathy. It’s just part of the story. Moreover, the positive far outweighs the negative (gloated he).
</p><p>
If asked what I like about retirement, the first thing that comes to mind is not having to obey an alarm clock. In retrospect, the very idea of being required to get up at a specific time again and again seems downright cruel. And yes, there is ample scholarly work about the history of time-keeping, technology, industrialization -- but let’s not digress (Francisco!). Indeed, after retiring, what seemed remarkable was not that I was now retired, but that I had gotten up and gone to work so many thousands of times. It’s excessive. Modern human beings don’t need this much work for so many years to stay entertained and fill up the hours. (I suppress the nerdy temptation to drop a footnote referring to a couple of books,
            which would be <em>Utopia for Realists</em> by Rutger Bregman and <em>Sapiens</em> by Yuval Noah Harari. This is not an unconditional endorsement; I have minor quibbles with both.
    But both are well worth reading. But I digress.)
</p><p>
I don’t know if you know this story, so I’ll assume you don’t but keep it brief. Amy and her kids have long had a connection to Martha’s Vineyard. Amy’s mother and stepfather lived here for some 25 years. In 2018 they decided to move off the island,
        and we didn’t want to lose the foothold they provided. The kids were already working good summer jobs here. We managed to acquire the least expensive piece of real estate on the already obscenely inflated market:  a small, barely one-bedroom cottage with a loft that sleeps two (if they don’t care about having doors or lots of personal space), and a 12 x 16 shed in the backyard. In 2020, with me newly retired, the pandemic, Trump’s accession to power, my stepdaughters about to start their undergraduate studies, and a hot seller’s market in New Jersey, it was a good time to sell the five bedrooms in South Orange, move to the Vineyard and cut expenses. This migration to MV was immensely difficult, if not to say excruciating. To downsize so radically in so short a span of time would have been challenging if even I weren’t as disorganized and chaotic as I am with that sort of task. So much shit to dump, donate, sell, or else pack and move -- it was insane. Despite a massive effort, we ended up with not one, not two, but three storage units involved:  one in NJ, one on the Cape and one on the island. (After two years we’ve finally consolidated it down to just one.) The move to MV meant leaving my daughter Gabriela behind during her last year of high school, living with my ex in Clark. Neither she nor I was at all pleased about that. The cowardly rationalization would be that making fucked up decisions and then living with the consequences is part of being a parent.
</p><p>
But let’s move on with the story. Amy’s fraternal twin daughters Mylie and Josie are now 20 and in their junior years at Mt Holyoke College and San Diego State University, respectively, and doing fine. Amy’s son Evan is 23 and living here, working at the local marina more or less full-time. In a couple months he is planning to move to Vancouver where his girlfriend lives, and go to school. Amy herself continues working her ass off at her 100% remote psychology practice and bringing in the dollars to pay her end of the kids’ tuition.
</p><p>
My life in retirement is for the most part joyful. As I mentioned before, I don’t answer to an alarm clock, but get out of bed willingly --
already an excellent start to the day. After enjoying my espresso I go for leisurely, meandering walks with our dog Maggie, a delightful creature. We often go to
the beach that’s within easy walking distance -- and which, for most of the year, is deserted or nearly so. For the rest of the day I have no difficulty
staying busy.
</p>
        <figure class="figure">
            <img src="{{ asset('/images/20201110_092922.jpg') }}" class="figure-img img-fluid rounded" alt="Maggie is a splendid and beautiful dog">
            <figcaption class="figure-caption text-center">Maggie definitely enjoys the beach</figcaption>
        </figure>
<p>
Housekeeping duties consume a substantial part of my time. Since there is no USPS delivery to our address, someone has to go to the post office to collect our mail. When there’s a package -- as there frequently is, because we live on an island and order things online even more than mainland people generally do -- you get a notice in your PO box and then stand in line at our understaffed post office, sometimes for a good 20 minutes or more, to collect your package. Our kitchen is small, cramped, poorly lit and poorly equipped -- irksome to me as the one who cooks the most. The refrigerator is small, so trips to the grocery store are more frequent than they might otherwise be. There being no curbside recycling collection, you must drive to the local recycling center. We have no dishwasher; all the dishwashing is by hand. With two or three people living here it’s not that bad. With five, as in the summer,
    it's Sisyphean. In my head I sometimes hear what I call the familiar grumble of resentment as I do the drudgery that falls disproportionately to me, the only person not working in the paid labor force. It isn’t necessarily unfair, but that doesn’t mean I have to like it. One might say, hey Mr. Privileged White Male, imagine what it’s like being a traditional housewife or domestic servant. Well, duh:  it sucks. I sometimes tell myself:  just wash the dishes, Zen man. Wash the fucking dishes in the present moment.
</p>
        <figure class="figure">
            <img src="{{ asset('/images/20220919_121229.jpg') }}" class="figure-img img-fluid rounded" alt="Maggie is a splendid and beautiful dog">
            <figcaption class="figure-caption text-center">Driving around doing errands is made less onerous by my assistant.</figcaption>
        </figure> <!-- 20220919_121229.jpg -->
<p>
We’ve pumped money into making the house more livable, most notably by renovating the aforementioned shed and repurposing it as master bedroom, complete with electricity, good insulation, good heating and cooling of course, and a half-bathroom. It’s totally comfortable and absolutely charming. On the other hand you have to go outdoors, albeit briefly, to travel between house and bedroom. In foul weather this is a pain in the ass.
</p><p>
From May to August, with five adults living here, the household is densely crowded, even with the renovated shed and even with Amy renting office space off-site.  Not infrequently, to my great irritation, there is no suitable place for me to do things one needs to do without disturbing or being disturbed, such as sit in meditation or play the guitar. The island itself gets extremely crowded, overrun with hordes of tourists who bring about dense traffic, scarce parking, long lines everywhere, and so forth. The year-round population has increased substantially in the past few years, but these new arrivals, like ourselves, are mostly not auto mechanics, veterinarians, physicians, or dentists -- so the wait times for all these and other types of services are long, sometimes preposterously long, but even more so in the high season. All this makes me want to pack up and hit the road, and so I do. I’ve been back to NJ to see Gabriela seven times since we moved here, and I’m going back again next week.
</p><p>
The purpose of all this complaining -- other than just complaining for its own sake -- is to say that my retirement on this lovely island is not quite continuous bliss. But with the kvetching out of the way, I can tell you that on balance this life in retirement is happy, and I consider myself lucky. I spend ample time outdoors enjoying the natural beauty for which this island is noted, usually with the dog or running. Yes, I still run, typically three times a week for several miles, but I don’t bother timing or measuring anything. I still run races now and then, and to my surprise, still post decent results -- age-adjusted, of course.
</p>
        <figure class="figure">
            <img src="{{ asset('/images/20220920_191006.jpg') }}" class="figure-img img-fluid rounded" alt="a delicious and nutritious soup">
            <figcaption class="figure-caption text-center">We make good meals, shitty kitchen notwithstanding.</figcaption>
        </figure>
<p>
The fish and local produce are wonderful, and we eat extremely well. I cook good food and enjoy giving pleasure to those who eat it. I sit on my mat every day.
    I amuse myself playing the guitar, and have gotten a bit better at it without much effort.  I greatly enjoy going to an open mic to sing jazz standards.
</p>
    <p>I think you'll enjoy this:</p>
    <div class="d-flex justify-content-center mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6ByQaIhjE3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
<p>
For about a year I got involved in chess and played regularly on <a href="https://chess.com/">chess.com</a>. Like millions of other people, I loved the Netflix show <em>Queen's Gambit</em>. It revived my interest in chess that had been dormant for 30 years. Then I dialed it back because it's too addictive, too much of a time-suck. And I took it a bit too seriously. I hate losing, but I also dislike making others feel like I feel when I lose -- even though I realize they are not me and might not detest losing as I do. But if any of you are players and are up for a casual game, I'd be glad to kick your ass.
</p><p>
I haven’t worked a minute since July 2020 and haven’t missed it  -- unless you count the few minutes of volunteer interpreting I did when the island received some unexpected guests, courtesy of the vile DeSantis. You heard about that. The island’s response was stupendous, and DeSantis’ pawns,
    the props in his political theatre, will probably end up better off than they would have if Governor Dickhead had let the process runs its normal course. Ha ha! (But will the Biden administration have the balls to tell its DOJ to prosecute those criminals? Don’t bet on it.)
</p><p>
Usually, however, Spanish is useless here. No, the word for Spanish here is: Portuguese. It’s everywhere. I’m told that it’s about 65% Brazilian Portuguese, 35% European. After so many years of having the utility and convenience of Spanish in the NY/NJ area, I found it frustrating and felt like an idiot not being able to speak Portuguese. After two years of bemoaning my ignorance but not doing anything about it, I finally got motivated to start working on Brazilian Portuguese,
            using <a href="https://www.pimsleur.com/" target="_blank">Pimsleur</a>. The real wake-up call came when I bought a ticket to go see an old friend in Brazil in March. Can’t bear the thought of showing up there like some ignorant gringo who only speaks English and Spanish and some French!
</p><p>
I am of course still a Bolshevik, but I won’t launch into a rant about how the ruling classes are hell-bent on bringing about a nuclear catastrophe, and
    how humanity’s only hope for survival is to smash capitalism in a world socialist revolution. The preceding mini-rant will suffice. But I’ll also mention
    that a couple months ago I wrote a piece for the World Socialist Website about social conditions on the island: <a
            href="https://www.wsws.org/en/articles/2022/07/29/nobq-j29.html" target="_blank">https://www.wsws.org/en/articles/2022/07/29/nobq-j29.html</a>
    <span class="print-only">(The URL is not human-friendly:  https://www.wsws.org/en/articles/2022/07/29/nobq-j29.html.)</span> One cool thing about this one,
    for me, is that of the several articles that I’ve contributed, this the first and only one under my own name. When I was employed by the Court I
    thought it judicious to use a pseudonym (Elliott Vernon). Don’t need to worry about that anymore!
</p><p>
And I’m still doing some coding. Amy needs a system for managing the scheduling and -- most of all -- the billing for her practice, so I’m on that. My progress is slow, as always, but I am learning some cool new and modern tools and best-practices stuff, and it’s fun. Which reminds me:  are you good people still using the app I wrote? Don’t worry, I won’t be too severely wounded if the answer is negative. Twenty years is a pretty good life span for any software project. But if you are, then I wonder if the dimwits of your IT department realize that unless they have done extensive updating, it’s woefully out of date. The server-side programming language PHP has moved up to version 8.1, but when I left we were running 7.4. The 7.x branches are slated for sunsetting -- no more maintenance or security updates. Most of the project’s software dependencies are likewise well out of date. It’s irresponsible not to do the necessary maintenance work. I might be willing to do it pro bono, but the dimwits don’t want my help, and I’m not about to do it for free just for the sake of the exercise.
</p><p>
I see that this missive now weighs in at over 2500 words -- more than enough.
<span class="print-only">
Check out the online version of this at https://davidmintz.org/letter-sdny for some images and an amusing video or two, including some musical entertainment that will remind you of our beloved Follies. And please feel free to share this document or its digital counterpart with anyone who may be interested.
</span>
I hope things are going well in the Office and that you're having fun. And I'd be happy to receive whatever news you care to send via the medium of your choosing.
</p>
    <p>
As ever,
</p><p>
Mintz
</p>
    </main>
{% endblock %}
