{% extends 'base.html.twig' %}
{% block body %}
    <h2>privacy policy</h2>
    <p>This is a real privacy policy, rather than a surveillance policy.</p>
    <p>I do not collect -- and have no interest in collecting -- any data from you.</p>
    <p>The only exception is web server logging of the standard, most benign kind. A web server
    normally keeps access logs and error logs for purposes of security, maintenance, and rudimentary
        traffic analysis. The access log records information about each page request, including the date and time,
    the resource requested, the User-agent string that identifies the browser vendor, and the IP address
    of the browser. This data is anonymous and is not stored indefinitely. In practice I only rarely even
        look at access logs.
{% endblock %}