{% extends 'base.html.twig' %}
{% block title %} songs | {{ parent() }}{% endblock %}
{% block body %}
<div style="white-space: pre">
    Agua de beber
    Ain't Misbehavin'
    All Of Me
    All The Things You Are
    Almost Like Being In Love
    As Time Goes By
    At Long Last Love
    But Not For Me
    Cheek To Cheek
    Desafinado
    Do It The Hard Way
    Everything Happens To Me
    Fly Me To The Moon
    From This Moment On
    Give Me the Simple Life
    How About You?
    How Deep Is The Ocean?
    How High The Moon?/Ornithology
    I Believe In You
    I Can't Give You Anything But Love
    I Concentrate On You
    I Didn't Know What Time It Was
    I Get A Kick Out Of You
    I Love You
    I Thought About You
    I Wish I Were In Love Again
    In The Still Of The Night
    It Could Happen To You
    It's All Right With Me
    I've Got The World On A String
    I've Got You Under My Skin
    I Won't Dance
    Just One Of Those Things
    Let's Face The Music And Dance
    Love Is Here To Stay
    Mean To Me
    Night And Day
    O Barquinho
    Old Devil Moon
    Ring-A-Ding-Ding
    The More I See You
    Samba de uma nota só
    Satin Doll
    Stars Fell On Alabama
    Speak Low
    The Song Is You
    They Can't Take That Away From Me
    Up Jumped Spring
    Will You Still Be Mine?
    You're Driving Me Crazy
</div>
{% endblock %}
