/* this is how you do it, it appears... */
@import "~bootstrap/dist/css/bootstrap.css";
/* ------------------------------------ */
#banner {
    background: url("../images/20201130_093445.east-chop.jpg") no-repeat;
    min-height : 180px;

}
@media(min-width: 992px) {
    #banner {
        height: 320px;
    }
    #banner h1 {
        font-size: 4rem;
    }
}
