{% extends 'base.html.twig' %}
{% block title %}music | {{ parent() }}{% endblock %}
{% block body %}
    <h1>music</h1><!--  style="font-size: 400%"-->
    <p>I studied classical guitar when I was young, earning an undergraduate degree from the
    Hartt School of Music followed by a Masters at the University of Arizona's School of Music.
        After a few years of concertizing and part-time teaching, I abandoned the guitar
        in favor of stable employment as a Spanish interpreter in federal court in Manhattan, where I
    remained until retiring in 2020.</p>
    <p>As retirement drew near, I got interested in returning to the guitar, but rather than pursuing the classical
    discipline, I turned to the Great American Songbook &mdash; 20th century pop songs and show tunes
        by composers such as Cole Porter, George Gerswhin, Jerome Kern
        that became jazz standards.
        My approach is intended to be straightforward,
        striving simply to present these compositions in all their beauty, elegance and wit.
    </p>
    <p>
        I made <a href="https://youtu.be/tEy6FZpr5e4">this recording</a> at Parr Audio in Oak Bluffs, Massachusetts in December, 2024.
    </p>
    <div class="ratio ratio-16x9 mb-3">
        <iframe src="https://www.youtube.com/embed/tEy6FZpr5e4?rel=0" title="David Mintz, singer and guitarist" allowfullscreen></iframe>
    </div>    <p>My performances in several venues on Martha's Vineyard have been well-received. Audiences like
        this music, but it's not frequently heard on the island. Please email, call or text me at 201 978-0608
        if you're interested in hiring me.</p>
{%  endblock %}
